:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #402c69;

  --header-height: 100px;
  --header-scroll-height: 70px;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  color: #000000;
}
h1 {
  margin-top: 10px;
  margin-bottom: 50px;
}

html {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
}

/* Button */
.btn {
  height: 27px;
  width: 120px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  display: flex;

  background-color: var(--white-color);
  color: #7b35ba;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  padding: 5px;
}
.lock-icon {
  margin-right: 8px;
}
.active {
  color: var(--primary-color);
  background-color: var(--white-color);
}

/* animation */
@keyframes pullUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
#app{
  
}

/* Header */
.header {
  
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: var(--text-color);
  position: relative;
  z-index: 9;
}

.logo__header {
  margin-left: 16px;
  cursor: pointer;

  width: 187px;
  height: 56px;
}
.logo__header-img {
  margin: 10px 20px;
}

.bar-btn {
  display: none;
}

.navbar__header {
  display: flex;

  margin-left: 50px;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  position: relative;
  padding: 0 15px;
}

.navbar__link:hover {
  color: blueviolet;
}
.navbar__item:hover .submenu {
  display: flex;
  animation: pullUp 0.5s ease-in-out;
}
.search-icon {
  color: var(--white-color);
  font-size: 12px;
  margin: 20px 10px;
}
.separate {
  height: 25px;
  margin: 0px 10px;
  width: 1px;
  background-color: var(--white-color);
  margin: 15px 10px;
}
.vie-img {
  height: 20px;
  border-radius: 6px;
  margin: 15px 15px;
}

.navbar__link {
  text-decoration: none;
  display: block;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 50px !important;
}
.navbar__link-light {
  text-decoration: none;
  display: block;
  color: var(--white-color);
  font-weight: 200;
  font-size: 18px;
  line-height: 50px !important;
}

.arrow-icon {
  position: relative;
  bottom: 3px;
}

.submenu::before {
  content: "";
  border-style: solid;
  border-width: 20px 27px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -32px;
  left: 120px;
}


.submenu {
  background-color: #edeef2;
  border-radius: 6px;
  width: 920px;
  display: none;
  justify-content: start;
  flex-wrap: wrap;
  position: absolute;
  left: -100px;
  z-index: 2;
}


.product-section {
  padding: 10px 14px;
  opacity: 0.8;
  width: 25%;
  text-align: start;
}

.product-section:hover {
  opacity: 1;
}

.product-link {
  display: block;
  text-decoration: none;
}

.name-header {
  font-size: 18px;
  font-weight: bolder;
  color: var(--text-color);
}

.description {
  font-size: 14px;
  margin-top: 20px;
  width: 240px;
  display: block;
}
.rep-see {
  color: gray;
  margin-top: 15px;
  display: inline-block;
}

/* Slider */
.four-social {
  width: 15%;
  height: 147px;
  margin: 50px 0px 30px 100px;
  display: inline-block;
  text-align: center;
  color: #66338a;
  border-radius: 4px;
}
.four-social:hover {
  background-color: gainsboro;
}
.icon-img {
  margin-top: 30px;
}
.text {
  text-decoration: none;
  display: block;
  font-weight: bold;
}
.text:hover {
  font-weight: bold;
  color: var(--text-color);
}

/* Content */
.content__container {
  
}
.bank-support {
  width: 100%;
  height: 550px;
  background-color: #edeef2;
}
.good-morning {
  position: relative;
  width: 40%;
  float: left;
  height: 495px;
}
.text-morning {
  margin-top: 30px;
  margin-left: 30px;
}

.text-support {
  color: var(--black-color);
  font-size: 16px;
  font-weight: normal;
}
.customer-service {
  padding-top: 20px;
  height: 110px;
  background-color: var(--white-color);
  margin: 30px 30px;
}
.customer-service h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.customer-service h3 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.contact {
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}
.phone-img {
  margin-right: 5px;
}
.mail-img {
  margin-left: 10px;
}
.atm-img {
  margin-left: 40px;
}
.livebank-img {
  margin-left: 40px;
}

.new-morning {
  width: 52%;
  float: right;
}
.new-text {
  margin-top: 65px;
  display: flex;
  position: relative;
}
.vertical {
  width: 3px;
  height: 22px;
  background-color: #fd9800;
  margin-right: 5px;
}

.new-sticker {
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 350px;
}
.new-sticker::-webkit-scrollbar {
  display: none;
}
.sticker-item {
  display: flex;
  margin-top: 30px;
}
.sticker-img {
  border-radius: 4px;
}
.new-text h2 {
  position: relative;
}
.sticker-info {
  margin-left: 12px;
}
.sticker-name {
  display: block;
  color: #a1a7bb;
  font-size: 19px;
}
.sticker-discription {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}
.sub-text {
  color: var(--black-color);
  font-weight: bold; 
  font-size: 18px;
}
.sub-text:hover {
  text-decoration: underline;
}
.benefit-banking {
  margin-top: 40px;
  max-width: 100%;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  position: relative;
}

.img_content {
  border-radius: 6px;
}

.content-main {
  display: none;
}

.active-pane {
  display: block;
}

.category {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 106px;
  background-color: rgba(183, 167, 214, 0.4);
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 3px;
  border-radius: 4px;
  justify-content: space-between;
}
.total-col {
  width: 20%;
  text-align: center;
  padding: 21px;
}
.total-col:hover {
  background-color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
}

.total-col h2 {
  display: block;
  font-size: 22px;
}
.voucher-app{
  width: 35%;
  background-color: gainsboro;
  float: left;
  height: 340px;
  border-radius: 8px;
  margin: 20px 20px;
}
.voucher-text h2{
  margin: 40px 40px;
}
.voucher-text i{
  margin-left: 20px;
}

.voucher-text span{
  margin: 10px;
  display: inline-block;
}
.img-tab-paned {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 4px;
}
.end-line{
  background-color: gainsboro;
  height: 100px;
  margin-top: 400px;
}
.end-text{
  
}
.end-text span{
  font-weight: bold;
  float: right;
  margin-right: 20px;
  line-height: 100px;
}
.policy-text{
  margin-left: 40px;
  line-height: 100px;
  font-weight: bold;
}
.policy-text:hover{
  text-decoration: underline;
}
.footer {
  width: 100%;
  height: 70px;
  background-color: var(--text-color);
}
.logo__footer-img{
  margin: 20px 20px;
}
.footer .copyright {
  color: #cbb8e3;
  float: right;
  line-height: 70px;
  margin-right: 20px;
}

.header-border-bottom {
  position: relative;
  height: 4px;
  background-image: linear-gradient(to right, rgb(94, 46, 134), rgb(164, 50, 203) 34%, rgb(225, 98, 40) 69%, rgb(254, 153, 1));
}